DEPLOYMENT_URL=https://bjoerndaigger.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/my-dso-blog/
GITHUB_ORG=bjoerndaigger
GITHUB_PROJECT=my-dso-blog
GIT_REPOSITORY_URL=https://github.com/bjoerndaigger/my-dso-blog